<html>


<head>
    <title>Test Html</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

<ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="start" id="1">
        <a href="/Home/index">
            <i class="icon-home"></i>
            <span class="title">首页</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
    </li>
    <li id="2">
        <a href="javascript:;">
            <i class="icon-basket"></i>
            <span class="title">行业动态</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li class="heading" style="font-size:14px;color:yellow">
                <i class="icon-home"></i>
                行业动态
            </li>
            <li>
                <a href="#">
                    <i class="icon-home"></i>
                    <span class="badge badge-danger">4</span>
                    政策法规
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-basket"></i>
                    <span class="badge badge-warning">4</span>
                    通知公告
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-tag"></i>
                    <span class="badge badge-success">4</span>
                    动态信息
                </a>
            </li>
        </ul>
    </li>
</ul>

</body>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Placeholder -->
<script src="/js/jquery.placeholder.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</html>